html {
    font-size: 20px; /* px 은 'pixels' 를 의미합니다: 기본 글자 크기는 현재 10 pixels 높이입니다. */
    font-family:'Nanum Gothic', sans-serif;
    background-color: gray;
}
h1 {
    line-height:  2;
    color: red;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

p,li {
    font-size: 16px;    
    line-height: 2; 
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color:green;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

img {
    display: block;
    margin: 0 auto;
  }

ul {
    background-color: red;
    color: white;
    border : 5px solid black;
}